<p>
  <%= link_to  "Português", root_path(locale: 'pt-BR') %>
</p>
<p>
  <%= link_to  "English", root_path(locale: 'en') %>
</p>

<h1>Seja Bem-Vindo!</h1>
<strong><%= l Date.today %></strong> <br/>
<strong><%= nome_aplicacao %></strong>

<%= render "menu" %>
<p>
  Você no ambiente de <strong> <%= ambiente_rails %></strong>
</p>